extends base/_layout
block vars
    - var pageName = 'index'
block head
    title Advice Consulting
block page

    .block_benefits_art6
        .block_benefits_art6__container
            .block_benefits_art6__list

                -
                    const preim_list = [
                        {icon: './images/block_benefits_art6/icon_1.svg', descr: 'Опыт на международном рынке более 8 лет'},
                        {icon: './images/block_benefits_art6/icon_2.svg', descr: ' 97% приживаемость посадочного материала'},
                        {icon: './images/block_benefits_art6/icon_3.svg', descr: 'Более 10 000 гектар питомников'},
                        {icon: './images/block_benefits_art6/icon_4.svg', descr: 'Реализовано свыше 320 проектов'},
                        {icon: './images/block_benefits_art6/icon_5.svg', descr: 'Доставка в любую точку мира'},
                        {icon: './images/block_benefits_art6/icon_6.svg', descr: ' Более 3000 видов саженцев '},
                        {icon: './images/block_benefits_art6/icon_7.svg', descr: 'Полный спектр услуг по выращиванию садов'},
                        {icon: './images/block_benefits_art6/icon_8.svg', descr: 'География присутствия в 7 странах мира'},
                    ]
                
                each item in preim_list

                    .block_benefits_art6__item 
                        img.block_benefits_art6__icon(src= item.icon  alt="" decoding="async" loading="lazy" width="69" height="69")
                        span.block_benefits_art6__descr= item.descr



    -
        const projectList = [
            {icon: './images/block_garden_project_art6/num1.svg', text: 'Схему посадки и направления '},
            {icon: './images/block_garden_project_art6/num2.svg', text: 'Подвои, сорта и схемы опыления'},
            {icon: './images/block_garden_project_art6/num3.svg', text: 'Многоуровневую систему защиты сада '},
            {icon: './images/block_garden_project_art6/num4.svg', text: 'Пути сообщения и логистику на территории сада '},
            {icon: './images/block_garden_project_art6/num5.svg', text: 'Объекты фертигации и оросительной системы '},
            {icon: './images/block_garden_project_art6/num6.svg', text: ' Здания различного назначения'},
            {icon: './images/block_garden_project_art6/num7.svg', text: ' Приложение AGRINSIGHT® '},
            {icon: './images/block_garden_project_art6/num8.svg', text: 'Индивидуальные запросы клиента'},
        ]



    .block_garden_project_art6
        h2.block_garden_project_art6__title Проект интенсивного сада включает:


        .block_garden_project_art6__wrapper 

            each item in projectList

                .block_garden_project_art6__item 

                    .block_garden_project_art6__num
                        img(src= item.icon, alt="")
                        .block_garden_project_art6__ellipse: span

                    p.block_garden_project_art6__text= item.text


        .block_garden_project_art6__picture
            +pictureSize('block_garden_project_art6/apples','png','x2',551,442)











